.card {
  min-width: 250px;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
}
.card img {
  width: 100%;
  border-radius: 4px;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1a2a39;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  pointer-events: none;
  width: 100%;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  text-wrap-mode: wrap;
}

.card:hover .tooltip {
  visibility: visible;
  opacity: 0.9;
}
