.scroll-row {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-width: none;
}

.scroll-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 2rem;
  width: 40px;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}
