
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #203443;
  color: #ffffff;
  line-height: 1.6;
}

.section {
  padding: 1rem 1rem;
}

h2 {
    font-weight: lighter;
}

::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #95a3ad;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.text-center {
  text-align: center;
}
